html, body {
	height: 100%;
	margin: 0;
}

body {
	background: linear-gradient(0.125turn, #2478ff, #98fffe);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

main {
	color: black;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 2.5px;
	font-weight: 700;
	paint-order: stroke fill;
}
